/* .banner-section{
    display: flex;
    justify-content: space-between;
} */
.banner-description{
    max-width: 519px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin: 20px 0px;
}

