.job-title-style{
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #474747;
}
.company-style{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #757575;
}