.navbar{
    height: 80px;
    background-color: #F4F4F4;
}


 .navbar  a{
    margin-left: 30px;
}
.navbar  a:hover{

     background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
