@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Manrope';
  font-style: normal;
}
.padding-container{
  padding-left: 96px;
  padding-right: 96px;
}
.btn-apply{
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  border: 2px solid #7E90FE;
  text-transform: capitalize;
  font-weight: 800;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}
.btn-design{
  width: 190px;
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  text-transform: capitalize;
  font-weight: 800;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;

}
.btn-design:hover{
  background: #081b94;
}